{% extends "layout.html" %}
{% block title %}{{ hero_info['displayname'] }}{% endblock %}

{% block nav_aghs %}active{% endblock %}
{% block body %}
    <div class="container my-2">
        <p class="h1 d-flex justify-content-center">{{ hero_info['displayname'] }}</p>
        <div class="row">
            <div class="col-4 d-flex justify-content-center"><p class="lead">
                Times picked: <strong>{{ hero_info['times_chosen'] }}</strong><span class="rank"> Rank: {{ hero_info['popularity_rank'] }}/29</span>
            </p></div>
            <div class="col-4 d-flex justify-content-center"><p class="lead">
                Winrate: <strong>{{ hero_info['rounded_winrate'] }}</strong><span class="rank"> Rank: {{ hero_info['wr_rank'] }}/29</span>
            </p></div>
            <div class="col-4 d-flex justify-content-center"><p class="lead">
                Avg. depth rached: <strong>{{ hero_info['rounded_avg_depth'] }}</strong><span class="rank"> Rank: {{ hero_info['depth_rank'] }}/29</span>
            </p></div>
        </div>
    </div>
    <div class="container">
      <ul class="pagination pagination-sm">
        <li class="page-item {{'active' if active_page == 'all' }}"><a class="page-link" href="?time=all">All games</a></li>
        <li class="page-item {{'active' if active_page == 'prepatch' }}"><a class="page-link" href="?time=prepatch">Pre-patch</a></li>
        <li class="page-item {{'active' if active_page == 'postpatch' }}"><a class="page-link" href="?time=postpatch">Post-patch</a></li>
        <li class="page-item {{'active' if active_page == '3days' }}"><a class="page-link" href="?time=3days">Last 3 days</a></li>
        <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
      </ul>
    </div>
    <table class="table table-striped" id="ability_table">
        <thead>
            <tr>
                <th>Icon</th>
                {% for col in cols[2:-1] %}
                    <th>{{ col['name'].replace('_', ' ').title() }}</th>
                {% endfor %}
                <th data-bs-toggle="tooltip" data-bs-placement="top" title="Average match duration (only victories counted)"><div class="tooltip-text">Speed</div></th>
            </tr>
        </thead>
        {% for row in rows %}
            <tr>
                <td><img class="ability" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/abilities/{{row[1]}}.png" /></td>
                {% for col in row[2:] %}
                    <td>{{ col|safe }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <script>
        function bold(text){
            const bold = /\*\*(.*?)\*\*/gm;
            let html = text.replace(bold, '<strong>$1</strong>');            
            return html;
        }
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        let table = new DataTable('#ability_table', {
            ordering: true,
            searching: false,
            paging: false,
            order: [[ 3, "desc" ]],
            info: false,
            responsive: true
        });
    </script>
{% endblock %}