.hero-icon{
    object-fit: cover;
    pointer-events: none;
    border-radius: inherit;
    position: absolute;
    border: none;
    margin: 0;
    padding: 0;
    font: inherit;
    height: 100%;
    width: 100%;
}

.hero{
    display: block;
    width: 42px;
    height: 60px;
    cursor: pointer;
    overflow: visible;
    background: rgb(20, 20, 20);
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    font-size: 11px;
}
.hero-section{
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(auto-fill, 42px);
}

.ability{
    width: 64px;
    height: 64px;
}

strong{
    color: #585858
}

.tooltip-text{
    border-bottom: 1px dotted #999;
    text-decoration: none;
}