.hero-container{
    margin: auto;
    white-space: nowrap;
}
.hero{
    display: block;
    padding: 6px;
    position: relative;
    white-space: nowrap;
    width: 60px;
    height: 105px;
    aspect-ratio: 4/7;
}

.hero-icon{
    aspect-ratio: 4/7;
    width: 53px;
    height: 93px;
    object-fit: cover;
}

.attribute-heading{
    letter-spacing: 0.07em;
    color: #585858;
}

.attribute-icon{
    width:32px;
    height:32px;
}

.ability{
    width: 64px;
    height: 64px;
}

strong{
    color: #585858
}

.tooltip-text{
    border-bottom: 1px dotted #999;
    text-decoration: none;
}

.rank{
    font-size: 0.7em;
    color: #585858;
}
