{% extends "layout.html" %}
{% block title %}Aghanim's Labyrinth{% endblock %}

{% block nav_aghs %}active{% endblock %}

{% block body %}
<div class="container-xxl my-md-4 bd-layout">
    <div class="heroes">
        {% for attribute in heroes.keys() %}
        <div class="hero-attribute-section">
            <div class="attribute-heading h5">{{ attribute }}</div>
            <div class="row container">
            {% for hero in heroes[attribute] %}
                <div class="col-1">
                    <a href=hero/{{hero}}>
                        <img src="https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/{{hero}}_selection.png" onerror="this.onerror=null;this.src='/static/{{hero}}.png';" class="">
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}  